.App {
    height: 100vh;
}

.MapContainer {
    height: 35vh;
}
.StreamsContainer {
    height: 65vh;
}

@media (min-width: 576px) {
    .MapContainer, .StreamsContainer {
        height: 100vh;
    }
}

.flex-auto {
    flex: auto;
}

.overflow-y-scroll {
    overflow-y: scroll;
}