.App {
    display: flex; /* test */
}

.Logo {
    animation: Logo-spin infinite 20s linear;
    height: 80px;
}

@keyframes Logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

#map {
    height: 100%;
}

#listing {
    height: 90vh;
    overflow-y: scroll;
}