<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come
     *after* these tags -->
    <title>periscopin</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- custom stylesheet -->
    <link rel="stylesheet" href="/static/base.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <button type="button" class="btn btn-default btn-lg btn-block" id="refresh-button">
            0 new streams
          </button>
      </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="list-group" id="listing">
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
          streams = [];
          new_streams = [];
          namespace = '/main';
          var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
          socket.on('new stream', function(data) {
              new_streams.push(data);
              $('#refresh-button').text(new_streams.length + ' new streams');
              //$('#log').prepend('<p class="time" data-time="' + data.created_at + '">asdf</p>');
              //console.log(data);
          });

          $('#refresh-button').on('click', function() {
              streams = streams.concat(new_streams);
              new_streams = [];
              $('#listing').empty();
              var n_display = 30;
              var i_stop = Math.max(streams.length - n_display, 0);
              for (var i = streams.length - 1; i >= i_stop; i--) {
                  var broadcast = streams[i];

                  var loc = broadcast.location;
                  var locationString = [loc.city, loc.country_state, loc.country];
                  locationString = locationString.filter(Boolean).join(', ');
                  if (!locationString) {
                      var locationHtml = '<span class="text-muted">Unknown location</span>';
                  } else {
                      var locationHtml = '<strong>' + locationString + '</strong>';
                  }

                  if (!broadcast.status) {
                      var statusHtml = '<span class="text-muted">Untitled</span>';
                  } else {
                      var statusHtml = broadcast.status;
                  }


                  var html = '' +
                    '<a href="' + broadcast.url + '" target="_blank" class="list-group-item">' +
                      '<strong>' + broadcast.name + '</strong> ' +
                      '<span class="text-muted">@' + broadcast.screen_name + ' · ' +
                      '<span class="time" data-time="' + broadcast.created_at + '">' +
                      timeSince(broadcast.created_at) +
                      '</span></span>' +
                      '<br>' + locationHtml +
                      '<br>' + statusHtml +
                    '</a>' +
                  '';
                  $('#listing').append(html);
              }

              $('#refresh-button').text(new_streams.length + ' new streams');
          });

          function timeSince(dateString) {
              var then = new Date(dateString);
              var seconds = (Date.now() - then) / 1000;
              if (seconds < 60) {
                  return parseInt(seconds) + 's';
              } else if (seconds < 3600) {
                  return parseInt(seconds/60) + 'm';
              } else if (seconds < 86400) {
                  return parseInt(seconds/3600) + 'h';
              } else {
                  return parseInt(seconds/86400) + 'd';
              }
          }

          function updateTime() {
              $('.time').each(function() {
                  $(this).text(timeSince($(this).data("time")));
              });
          }

          setInterval(updateTime, 20000);
      });
    </script>
  </body>
</html>
